In [3]:
import pandas as pd
import numpy as np

In [4]:
pos_data = pd.read_csv('./a.danger_forecasting/positives.csv')
neg_data = pd.read_csv('./a.danger_forecasting/negatives.csv')

In [5]:
pos_data

,time,aspect,burned_areas,curvature,d2m,dem,ignition_points,lai,lst_day,lst_night,...,lc_grassland,lc_settlement,lc_shrubland,lc_sparse_vegetation,lc_water_bodies,lc_wetland,population,burned_area_has,time_idx,sample
0,2006-07-29,182.77820,0.0,-1469.686900,289.78036,142.89676,0.0,0.5,321.16000,295.52000,...,0.0,0.00000,0.0,0.000000,0.0,0.0,0.20321,40.0,0,0
1,2006-07-30,182.77820,0.0,-1469.686900,290.09662,142.89676,0.0,0.5,317.60000,293.63998,...,0.0,0.00000,0.0,0.000000,0.0,0.0,0.20321,40.0,1,0
2,2006-07-31,182.77820,0.0,-1469.686900,290.19055,142.89676,0.0,0.5,316.90000,293.00000,...,0.0,0.00000,0.0,0.000000,0.0,0.0,0.20321,40.0,2,0
3,2006-08-01,182.77820,0.0,-1469.686900,290.22266,142.89676,0.0,0.5,316.80000,294.66000,...,0.0,0.00000,0.0,0.000000,0.0,0.0,0.20321,40.0,3,0
4,2006-08-02,182.77820,0.0,-1469.686900,290.36680,142.89676,0.0,0.5,315.41998,295.91998,...,0.0,0.00000,0.0,0.000000,0.0,0.0,0.20321,40.0,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257215,2015-07-19,351.22073,0.0,-21.881104,287.77030,505.24857,0.0,0.2,316.25998,298.19998,...,0.0,0.22604,0.0,0.576602,0.0,0.0,5349.81450,138.0,25,8573
257216,2015-07-20,351.22073,0.0,-21.881104,285.27957,505.24857,0.0,0.2,323.88000,NaN,...,0.0,0.22604,0.0,0.576602,0.0,0.0,5349.81450,138.0,26,8573
257217,2015-07-21,351.22073,0.0,-21.881104,283.50925,505.24857,0.0,0.2,320.12000,NaN,...,0.0,0.22604,0.0,0.576602,0.0,0.0,5349.81450,138.0,27,8573
257218,2015-07-22,351.22073,0.0,-21.881104,286.04520,505.24857,0.0,0.2,324.34000,298.41998,...,0.0,0.22604,0.0,0.576602,0.0,0.0,5349.81450,138.0,28,8573
257219,2015-07-23,351.22073,1.0,-21.881104,288.66095,505.24857,138.0,0.2,323.75998,299.96000,...,0.0,0.22604,0.0,0.576602,0.0,0.0,5349.81450,138.0,29,8573

In [13]:
neg_data

,time,aspect,burned_areas,curvature,d2m,dem,ignition_points,lai,lst_day,lst_night,...,lc_grassland,lc_settlement,lc_shrubland,lc_sparse_vegetation,lc_water_bodies,lc_wetland,population,burned_area_has,time_idx,sample
0,2006-04-02,6.933952,0.0,-27.86932,285.72403,10.045106,0.0,NaN,300.38,287.24,...,0.0,0.0,0.00000,0.0,0.0,0.0,510.946840,0.0,0.0,0.0
1,2006-04-03,6.933952,0.0,-27.86932,284.85710,10.045106,0.0,NaN,300.00,NaN,...,0.0,0.0,0.00000,0.0,0.0,0.0,510.946840,0.0,1.0,0.0
2,2006-04-04,6.933952,0.0,-27.86932,286.72308,10.045106,0.0,NaN,299.80,284.40,...,0.0,0.0,0.00000,0.0,0.0,0.0,510.946840,0.0,2.0,0.0
3,2006-04-05,6.933952,0.0,-27.86932,285.88174,10.045106,0.0,NaN,NaN,NaN,...,0.0,0.0,0.00000,0.0,0.0,0.0,510.946840,0.0,3.0,0.0
4,2006-04-06,6.933952,0.0,-27.86932,286.33005,10.045106,0.0,NaN,NaN,NaN,...,0.0,0.0,0.00000,0.0,0.0,0.0,510.946840,0.0,4.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21406,2007-05-19,192.528750,0.0,24084.21000,286.36330,496.605800,0.0,1.1,305.38,NaN,...,0.0,0.0,0.47942,0.0,0.0,0.0,29.417543,0.0,16.0,713.0
21407,2007-05-20,192.528750,0.0,24084.21000,284.65848,496.605800,0.0,1.1,NaN,NaN,...,0.0,0.0,0.47942,0.0,0.0,0.0,29.417543,0.0,17.0,713.0
21408,2007-05-21,192.528750,0.0,24084.21000,286.02637,496.605800,0.0,1.1,NaN,286.54,...,0.0,0.0,0.47942,0.0,0.0,0.0,29.417543,0.0,18.0,713.0
21409,2007-05-22,192.528750,0.0,24084.21000,289.54490,496.605800,0.0,1.1,302.44,289.08,...,0.0,0.0,0.47942,0.0,0.0,0.0,29.417543,0.0,19.0,713.0
21410,2007-05-23,192.528750,0.0,24084.21000,289.38620,496.605800,0.0,1.1,305.74,NaN,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
print (pos_data.columns)

Index(['time', 'aspect', 'burned_areas', 'curvature', 'd2m', 'dem',
       'ignition_points', 'lai', 'lst_day', 'lst_night', 'ndvi', 'rh',
       'roads_distance', 'slope', 'smi', 'sp', 'ssrd', 't2m', 'tp',
       'wind_direction', 'wind_speed', 'x', 'y', 'lc_agriculture', 'lc_forest',
       'lc_grassland', 'lc_settlement', 'lc_shrubland', 'lc_sparse_vegetation',
       'lc_water_bodies', 'lc_wetland', 'population', 'burned_area_has',
       'time_idx', 'sample'],
      dtype='object')

In [7]:
print (neg_data.columns)

Index(['time', 'aspect', 'burned_areas', 'curvature', 'd2m', 'dem',
       'ignition_points', 'lai', 'lst_day', 'lst_night', 'ndvi', 'rh',
       'roads_distance', 'slope', 'smi', 'sp', 'ssrd', 't2m', 'tp',
       'wind_direction', 'wind_speed', 'x', 'y', 'lc_agriculture', 'lc_forest',
       'lc_grassland', 'lc_settlement', 'lc_shrubland', 'lc_sparse_vegetation',
       'lc_water_bodies', 'lc_wetland', 'population', 'burned_area_has',
       'time_idx', 'sample'],
      dtype='object')