Script to get sample id of Input_all tensor and to find shap value of specific sample

In [52]:
import pandas as pd
import numpy as np

from datasets.dataset import FireDataset
from pathlib import Path
import json
config_path = Path("/Users/I566184/bachelorarbeit_coding/mesogeos/ml_tracks/a_fire_danger/configs/config_mlp/config_train.json")
csv = Path("/Users/I566184/bachelorarbeit_coding/mesogeos/csv/test_softmax_csv/test_softmax_outputs_lstm.csv")
with open(config_path, "r") as f:
    config = json.load(f)

In [46]:
test_dataset = FireDataset(
    dataset_root=Path("/Users/I566184/bachelorarbeit_coding/mesogeos/ml_tracks/a_fire_danger/a.danger_forecasting"),
    train_val_test='test',
    dynamic_features=config["features"]["dynamic"],
    static_features=config["features"]["static"]
)

Test Positives: 1369.0 / Test Negatives: 2738.0
Test Dataset length 4107.0

In [61]:
def get_sample (target_sample):
    row = df[df['sample_id']==target_sample]
    if row.empty:
        print(f"Sample {target_sample} not found.")
        return None

    sample_idx = row['index']
    print(f"Our original sample {target_sample} converts now to sample: {sample_idx}")
    return sample_idx

In [68]:
#Fire in Greece 
first_biggest_Fire_Test = get_sample(4792)

Our original sample 4792 converts now to sample: 479    479
Name: index, dtype: int64

In [67]:
#Fire in Spain
second_biggest_Fire_Test = get_sample(679)

Our original sample 679 converts now to sample: 3984    3984
Name: index, dtype: int64

In [66]:
#Fire in Algeria 
third_biggest_Fire_Test = get_sample(8418)

Our original sample 8418 converts now to sample: 3505    3505
Name: index, dtype: int64

In [53]:
df = pd.read_csv(csv)
df['index'] = np.arange(len(df))

In [71]:
df[(df['sample_id']==4792) | (df['sample_id']==679) | (df['sample_id']==8418)]

          prob        lat        lon  sample_id  label  log_burned_area  index
479   0.979855  23.334165  38.818407       4792      1        10.844374    479
3505  0.942400   4.172912  36.593164       8418      1        10.322230   3505
3984  0.490033  -6.037025  41.738409        679      1        10.389856   3984

In [55]:
get_sample(4792)

Our original sample 4792 converts now to sample: 479

479

In [56]:
df

          prob        lat        lon  sample_id  label  log_burned_area  index
0     0.886618  -7.033854  40.983236        728      1         5.056246      0
1     0.002440  11.563537  43.399789      16438      0         3.401197      1
2     0.276308  -5.724887  34.649853      17300      0         3.401197      2
3     0.023041  34.802724  37.318130      15725      0         3.401197      3
4     0.007572  -4.526680  40.983236      15141      0         3.401197      4
...        ...        ...        ...        ...    ...              ...    ...
4102  0.000312  30.040100  38.425717      16004      0         3.401197   4102
4103  0.981715  19.356921  42.493582       6028      1         5.886104   4103
4104  0.028076  15.591126  41.708202      16621      0         3.401197   4104
4105  0.069568  10.516364  35.707095      17064      0         3.401197   4105
4106  0.056229   9.167122  40.157580      15822      0         3.401197   4106

[4107 rows x 7 columns]

In [59]:
pos = df[df['label'] ==1]
pos

          prob        lat        lon  sample_id  label  log_burned_area  index
0     0.886618  -7.033854  40.983236        728      1         5.056246      0
8     0.605983   8.341466  35.183508       8372      1         5.476463      8
12    0.980295  12.953055  41.587374       3685      1         3.988984     12
30    0.971927  17.151817  40.590546       3013      1         3.610918     30
38    0.978868   8.301190  36.693854       8509      1         5.356586     38
...        ...        ...        ...        ...    ...              ...    ...
4091  0.113981  -6.218267  41.899512       1645      1        10.241601   4091
4097  0.979037  -6.892888  42.423099       1612      1         5.267858   4097
4100  0.864642   8.925467  35.113025       8348      1         4.406719   4100
4101  0.996553  -5.583922  35.304336       8466      1         9.032290   4101
4103  0.981715  19.356921  42.493582       6028      1         5.886104   4103

[1369 rows x 7 columns]

In [60]:
neg = df[df['label'] ==0]
neg

          prob        lat        lon  sample_id  label  log_burned_area  index
1     0.002440  11.563537  43.399789      16438      0         3.401197      1
2     0.276308  -5.724887  34.649853      17300      0         3.401197      2
3     0.023041  34.802724  37.318130      15725      0         3.401197      3
4     0.007572  -4.526680  40.983236      15141      0         3.401197      4
5     0.490169  -3.207644  40.610684      16716      0         3.401197      5
...        ...        ...        ...        ...    ...              ...    ...
4099  0.391554  -3.358679  38.284751      15434      0         3.401197   4099
4102  0.000312  30.040100  38.425717      16004      0         3.401197   4102
4104  0.028076  15.591126  41.708202      16621      0         3.401197   4104
4105  0.069568  10.516364  35.707095      17064      0         3.401197   4105
4106  0.056229   9.167122  40.157580      15822      0         3.401197   4106

[2738 rows x 7 columns]