In [19]:
import pandas as pd
from pathlib import Path

In [34]:
model = "mlp"
path = "/Users/I566184/bachelorarbeit_coding/mesogeos/csv/crossValidation"
file = f"{model}_cv_results.csv"
df = pd.read_csv(f"{path}/{file}")

In [35]:
cols = list(df.columns)
i, j = cols.index("train_aucpr"), cols.index("train_f1_score")

cols[i], cols[j] = cols[j], cols[i]
df = df[cols]
df

,run_id,val_aucpr,val_f1_score,train_f1_score,train_aucpr,test_f1_score,test_aucpr
0,0622_124757,0.886995,0.801493,0.832521,0.909172,0.820966,0.907116
1,0622_124144,0.855223,0.789168,0.819118,0.895161,0.820966,0.907116
2,0622_123521,0.870080,0.807799,0.810696,0.891345,0.820966,0.907116
3,0622_122829,0.899551,0.819216,0.843884,0.919859,0.820966,0.907116
4,0622_122209,0.872085,0.802703,0.846052,0.922637,0.820966,0.907116
5,0622_121549,0.859469,0.791789,0.798771,0.868484,0.820966,0.907116
6,0622_120853,0.875092,0.815742,0.822501,0.900607,0.820966,0.907116
7,0622_120152,0.906636,0.834621,0.829763,0.906978,0.820966,0.907116
8,0622_115453,0.899511,0.822462,0.847770,0.927228,0.820966,0.907116
9,0622_114825,0.911918,0.832385,0.841266,0.919823,0.820966,0.907116
10,0622_114211,0.847565,0.813760,0.819434,0.900980,0.820966,0.907116
11,0622_113537,0.900370,0.823266,0.848776,0.929450,0.820966,0.907116
12,0622_112842,0.910681,0.829596,0.815803,0.893322,0.820966,0.907116
13,0622_112149,0.927051,0.848435,0.848425,0.923048,0.820966,0.907116
14,0622_111452,0.855852,0.745247,0.799358,0.871229,0.820966,0.907116

In [36]:
# Neue Zeilen mit Mittelwert und Standardabweichung
df.loc["mean"] = df.mean(numeric_only=True)
#df.loc["std"] = df.std(numeric_only=True)

df

,run_id,val_aucpr,val_f1_score,train_f1_score,train_aucpr,test_f1_score,test_aucpr
0,0622_124757,0.886995,0.801493,0.832521,0.909172,0.820966,0.907116
1,0622_124144,0.855223,0.789168,0.819118,0.895161,0.820966,0.907116
2,0622_123521,0.870080,0.807799,0.810696,0.891345,0.820966,0.907116
3,0622_122829,0.899551,0.819216,0.843884,0.919859,0.820966,0.907116
4,0622_122209,0.872085,0.802703,0.846052,0.922637,0.820966,0.907116
5,0622_121549,0.859469,0.791789,0.798771,0.868484,0.820966,0.907116
6,0622_120853,0.875092,0.815742,0.822501,0.900607,0.820966,0.907116
7,0622_120152,0.906636,0.834621,0.829763,0.906978,0.820966,0.907116
8,0622_115453,0.899511,0.822462,0.847770,0.927228,0.820966,0.907116
9,0622_114825,0.911918,0.832385,0.841266,0.919823,0.820966,0.907116
10,0622_114211,0.847565,0.813760,0.819434,0.900980,0.820966,0.907116
11,0622_113537,0.900370,0.823266,0.848776,0.929450,0.820966,0.907116
12,0622_112842,0.910681,0.829596,0.815803,0.893322,0.820966,0.907116
13,0622_112149,0.927051,0.848435,0.848425,0.923048,0.820966,0.907116
14,0622_111452,0.855852,0.745247,0.799358,0.871229,0.820966,0.907116
mean,NaN,0.885205,0.811846,0.828276,0.905288,0.820966,0.907116

In [37]:
def summarize_cv_results(base_path, output_csv="mean_values_crossValidation.csv", std=False):
    models = ["mlp", "cnn", "lstm", "gru", "transformer", "gtn", "tft", "rf"]
    summary = []

    for model in models:
        csv_path = Path(base_path) / f"{model}_cv_results.csv"
        if not csv_path.exists():
            print(f"Path not found {csv_path}")
            continue

        df = pd.read_csv(csv_path)
        
        if std:
            f1_train = df.get("train_f1_score", pd.Series([float('nan')])).std()
            f1_val = df.get("val_f1_score", pd.Series([float('nan')])).std()
            f1_test = df.get("test_f1_score", pd.Series([float('nan')])).std()
            aucpr_train = df.get("train_aucpr", pd.Series([float('nan')])).std()
            aucpr_val = df.get("val_aucpr", pd.Series([float('nan')])).std()
            aucpr_test = df.get("test_aucpr", pd.Series([float('nan')])).std()
        else: 
            f1_train = df.get("train_f1_score", pd.Series([float('nan')])).mean()
            f1_val = df.get("val_f1_score", pd.Series([float('nan')])).mean()
            f1_test = df.get("test_f1_score", pd.Series([float('nan')])).mean()
            aucpr_train = df.get("train_aucpr", pd.Series([float('nan')])).mean()
            aucpr_val = df.get("val_aucpr", pd.Series([float('nan')])).mean()
            aucpr_test = df.get("test_aucpr", pd.Series([float('nan')])).mean()

        summary.append({
            "Abbreviations": model.upper(),
            "F1_Training": f1_train,
            "F1_Validation": f1_val,
            "F1_Testing": f1_test,
            "AUCPR_Training": aucpr_train,
            "AUCPR_Validation": aucpr_val,
            "AUCPR_Testing": aucpr_test
        })

    df_summary = pd.DataFrame(summary, columns=[
        "Abbreviations", "F1_Training", "F1_Validation", "F1_Testing",
        "AUCPR_Training", "AUCPR_Validation", "AUCPR_Testing"
    ])

    out_path = Path(base_path) / output_csv
    df_summary.to_csv(out_path, index=False)
    print(f"Saved at: {out_path}")

In [38]:
summarize_cv_results(path, "mean_values_crossValidation.csv", std=False)

Saved at: /Users/I566184/bachelorarbeit_coding/mesogeos/csv/crossValidation/mean_values_crossValidation.csv

In [39]:
summarize_cv_results(path, "std_values_crossValidation.csv", std=True)
#then use CV Matrix in F1_Score_Comparison.ipynb to compare the F1 scores of the models and visualize them

Saved at: /Users/I566184/bachelorarbeit_coding/mesogeos/csv/crossValidation/std_values_crossValidation.csv