In [10]:
import pandas as pd
from pathlib import Path

In [11]:
model = "mlp"
path = "/Users/I566184/bachelorarbeit_coding/mesogeos/csv/crossValidation"
file = f"{model}_cv_results.csv"
df = pd.read_csv(f"{path}/{file}")

In [14]:
cols = list(df.columns)
i, j = cols.index("train_aucpr"), cols.index("train_f1_score")

cols[i], cols[j] = cols[j], cols[i]
df = df[cols]
df

,run_id,train_f1_score,val_aucpr,train_aucpr,val_f1_score,test_f1_score,test_aucpr
0,0622_124757,0.801493,0.886995,0.886995,0.801493,0.774579,0.853307
1,0622_124144,0.789168,0.855223,0.855223,0.789168,0.795455,0.867841
2,0622_123521,0.807799,0.870080,0.870080,0.807799,0.791436,0.865201
3,0622_122829,0.819216,0.899551,0.899551,0.819216,0.776989,0.849447
4,0622_122209,0.802703,0.872085,0.872085,0.802703,0.803759,0.886122
5,0622_121549,0.791789,0.859469,0.859469,0.791789,0.783767,0.861610
6,0622_120853,0.815742,0.875092,0.875092,0.815742,0.787617,0.856835
7,0622_120152,0.834621,0.906636,0.906636,0.834621,0.792453,0.853471
8,0622_115453,0.822462,0.899511,0.899511,0.822462,0.826825,0.888817
9,0622_114825,0.832385,0.911918,0.911918,0.832385,0.824268,0.899713
10,0622_114211,0.813760,0.847565,0.847565,0.813760,0.822164,0.900137
11,0622_113537,0.823266,0.900370,0.900370,0.823266,0.825711,0.895683
12,0622_112842,0.829596,0.910681,0.910681,0.829596,0.814727,0.875057
13,0622_112149,0.848435,0.927051,0.927051,0.848435,0.836582,0.910714
14,0622_111452,0.745247,0.855852,0.855852,0.745247,0.820966,0.907116

In [15]:
# Neue Zeilen mit Mittelwert und Standardabweichung
df.loc["mean"] = df.mean(numeric_only=True)
df.loc["std"] = df.std(numeric_only=True)

df

,run_id,train_f1_score,val_aucpr,train_aucpr,val_f1_score,test_f1_score,test_aucpr
0,0622_124757,0.801493,0.886995,0.886995,0.801493,0.774579,0.853307
1,0622_124144,0.789168,0.855223,0.855223,0.789168,0.795455,0.867841
2,0622_123521,0.807799,0.870080,0.870080,0.807799,0.791436,0.865201
3,0622_122829,0.819216,0.899551,0.899551,0.819216,0.776989,0.849447
4,0622_122209,0.802703,0.872085,0.872085,0.802703,0.803759,0.886122
5,0622_121549,0.791789,0.859469,0.859469,0.791789,0.783767,0.861610
6,0622_120853,0.815742,0.875092,0.875092,0.815742,0.787617,0.856835
7,0622_120152,0.834621,0.906636,0.906636,0.834621,0.792453,0.853471
8,0622_115453,0.822462,0.899511,0.899511,0.822462,0.826825,0.888817
9,0622_114825,0.832385,0.911918,0.911918,0.832385,0.824268,0.899713
10,0622_114211,0.813760,0.847565,0.847565,0.813760,0.822164,0.900137
11,0622_113537,0.823266,0.900370,0.900370,0.823266,0.825711,0.895683
12,0622_112842,0.829596,0.910681,0.910681,0.829596,0.814727,0.875057
13,0622_112149,0.848435,0.927051,0.927051,0.848435,0.836582,0.910714
14,0622_111452,0.745247,0.855852,0.855852,0.745247,0.820966,0.907116
mean,NaN,0.811846,0.885205,0.885205,0.811846,0.805153,0.878071
std,NaN,0.023762,0.023888,0.023888,0.023762,0.019689,0.020646

In [16]:
def summarize_cv_results(base_path, output_csv="summary_cv_metrics.csv"):
    models = ["mlp", "cnn", "lstm", "gru", "transformer", "gtn", "tft", "rf"]
    summary = []

    for model in models:
        csv_path = Path(base_path) / f"{model}_cv_results.csv"
        if not csv_path.exists():
            print(f"⚠️ Datei nicht gefunden: {csv_path}")
            continue

        df = pd.read_csv(csv_path)

        # Mittelwerte berechnen, mit Fallback auf NaN falls Spalte fehlt
        f1_train = df.get("train_f1_score", pd.Series([float('nan')])).mean()
        f1_val = df.get("val_f1_score", pd.Series([float('nan')])).mean()
        f1_test = df.get("test_f1_score", pd.Series([float('nan')])).mean()
        aucpr_train = df.get("train_aucpr", pd.Series([float('nan')])).mean()
        aucpr_val = df.get("val_aucpr", pd.Series([float('nan')])).mean()
        aucpr_test = df.get("test_aucpr", pd.Series([float('nan')])).mean()

        summary.append({
            "Abbreviations": model.upper(),
            "F1_Training": f1_train,
            "F1_Validation": f1_val,
            "F1_Testing": f1_test,
            "AUCPR_Training": aucpr_train,
            "AUCPR_Validation": aucpr_val,
            "AUCPR_Testing": aucpr_test
        })

    df_summary = pd.DataFrame(summary, columns=[
        "Abbreviations", "F1_Training", "F1_Validation", "F1_Testing",
        "AUCPR_Training", "AUCPR_Validation", "AUCPR_Testing"
    ])

    out_path = Path(base_path) / output_csv
    df_summary.to_csv(out_path, index=False)
    print(f"✅ Zusammenfassung gespeichert unter: {out_path}")

In [17]:
summarize_cv_results(path, "summary_cv_metrics.csv")

✅ Zusammenfassung gespeichert unter: /Users/I566184/bachelorarbeit_coding/mesogeos/csv/crossValidation/summary_cv_metrics.csv