In [1]:
import pandas as pd
import numpy as np

In [5]:
top24 = pd.read_csv('/Users/I566184/bachelorarbeit_coding/mesogeos/csv/Top_24_Summed_Variables.csv')
rf = pd.read_csv('/Users/I566184/bachelorarbeit_coding/mesogeos/csv/FeatureImportance-RF.csv')

In [6]:
top24

                Variable  Total_Importance
0              lst_night            0.1661
1                    t2m            0.1361
2                lst_day            0.0714
3                   ndvi            0.0686
4                    smi            0.0659
5                   ssrd            0.0582
6                     tp            0.0580
7                  slope            0.0562
8                     rh            0.0521
9                    d2m            0.0504
10            population            0.0351
11                    sp            0.0329
12            wind_speed            0.0311
13                   lai            0.0232
14             lc_forest            0.0184
15                   dem            0.0159
16        lc_agriculture            0.0156
17        roads_distance            0.0150
18          lc_shrubland            0.0150
19          lc_grassland            0.0080
20  lc_sparse_vegetation            0.0030
21            lc_wetland            0.0017
22         lc_settlement            0.0000
23       lc_water_bodies            0.0000

In [7]:
rf

                  Variable  Importance
0                t2m_lag29      0.0204
1                t2m_lag28      0.0200
2          lst_night_lag29      0.0184
3                t2m_lag27      0.0158
4          lst_night_lag28      0.0154
..                     ...         ...
715  lc_water_bodies_lag11      0.0000
716  lc_water_bodies_lag16      0.0000
717   lc_water_bodies_lag0      0.0000
718  lc_water_bodies_lag18      0.0000
719  lc_water_bodies_lag25      0.0000

[720 rows x 2 columns]

In [17]:
quartil = [0.1, 0.25, 0.5, 0.75, 0.95, 0.99]
for q in quartil:
    sum = 0
    i = 0
    while (sum + top24['Total_Importance'][i]) < q:
        sum +=  top24['Total_Importance'][i]
        i += 1
    print(f"{q*100}% der besten Feature durch {i} Features erreicht.")

for i in range(len(top24)):
    print(f"Variable {top24['Variable'][i]} hat eine Wichtigkeit von {top24['Total_Importance'][i]}")

10.0% der besten Feature durch 0 Features erreicht.
25.0% der besten Feature durch 1 Features erreicht.
50.0% der besten Feature durch 4 Features erreicht.
75.0% der besten Feature durch 9 Features erreicht.
95.0% der besten Feature durch 16 Features erreicht.
99.0% der besten Feature durch 19 Features erreicht.
Variable lst_night hat eine Wichtigkeit von 0.1661
Variable t2m hat eine Wichtigkeit von 0.1361
Variable lst_day hat eine Wichtigkeit von 0.0713999999999999
Variable ndvi hat eine Wichtigkeit von 0.0686
Variable smi hat eine Wichtigkeit von 0.0658999999999999
Variable ssrd hat eine Wichtigkeit von 0.0581999999999999
Variable tp hat eine Wichtigkeit von 0.0579999999999999
Variable slope hat eine Wichtigkeit von 0.0562
Variable rh hat eine Wichtigkeit von 0.0520999999999999
Variable d2m hat eine Wichtigkeit von 0.0503999999999999
Variable population hat eine Wichtigkeit von 0.0350999999999999
Variable sp hat eine Wichtigkeit von 0.0329
Variable wind_speed hat eine Wichtigkeit von 0.0311
Variable lai hat eine Wichtigkeit von 0.0231999999999999
Variable lc_forest hat eine Wichtigkeit von 0.0184
Variable dem hat eine Wichtigkeit von 0.0159
Variable lc_agriculture hat eine Wichtigkeit von 0.0156
Variable roads_distance hat eine Wichtigkeit von 0.015
Variable lc_shrubland hat eine Wichtigkeit von 0.015
Variable lc_grassland hat eine Wichtigkeit von 0.0079999999999999
Variable lc_sparse_vegetation hat eine Wichtigkeit von 0.0029999999999999
Variable lc_wetland hat eine Wichtigkeit von 0.0017
Variable lc_settlement hat eine Wichtigkeit von 0.0
Variable lc_water_bodies hat eine Wichtigkeit von 0.0